#header .bg .bg-leftcap {
    background-image: url(/++resource++skinRes/header_bg_leftcap.png);
}

#header .bg .bg-tile {
    background-image: url(/++resource++skinRes/header_bg_tile.png);
}
#secondarynav li.nav-item-active a { 
    color: #3b70ab;
}

